@page "/"
@using ShoppingStripe.Models
@inject IProductsService ServiceProduct
@inject ICartService CartService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


@if (_products is not null)
{
    foreach (var product in _products)
    {
        <div style="margin-left: 80px">
            <h3>@product.Name</h3>
            <p>@product.Price$</p>
            <img width="150px" src="@product.Imageurl" alt=""/>
            <button style="background-color:pink;" @onclick="() => AddToCart(product)">Add to Cart</button>
        </div>
    }
}
else
{
    <p>In progress...</p>
}

<button style="margin-left: 100px; margin-top: 20px" @onclick="CartPage" >
    <img style="width: 80px;" src="https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=1RRQJs5NDhcB67necQn1WCpJX2YMfWZ4rYi1DFKlkNA=" alt=""/>
</button>

@code {
    private bool _isCartOpen = true;
    private List<ProductResponse>? _products;
    
    private void AddToCart(ProductResponse product)
    { 
        CartService.AddToCart(product, 1);
    }
    
    private void CartPage()
    {
        NavigationManager.NavigateTo("/cart");
    }

    protected async override Task OnInitializedAsync()
    {
        _products = ServiceProduct.GetProductsAsync();
    }
}


